.jb-product {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  transition: 0.125s ease-in all;
}
.jb-product:hover {
  box-shadow: rgba(50, 50, 93, 0.125) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.13) 0px 30px 60px -30px;
  transform: translateY(-0.5rem);
}

.jb-product--grid-item {
}

.jb-product .euiImage img.euiImage__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.jb-product__body {
  padding: 1.5rem;
}

.jb-sale-tag.euiBetaBadge.euiBetaBadge--accent {
  background-color: #f03e3e;
  color: #fff5f5;
}

.jb-product.jb-product--list-item {
  margin-bottom: 1.5rem;
}

.jb-product.jb-product--list-item .euiImage img.euiImage__img {
  border-bottom: none;
  border-radius: 4px 0 0 4px;
}

.jb-product.jb-product--grid-item .euiImage img.euiImage__img {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #dee2e6;
}
