.jb-nav-logo img {
  height: 2rem;
}

/* Utils */
.jb-mr-s {
  margin-right: 0.75rem;
}

.jb-ml-xs {
  margin-left: 0.5rem;
}

.jb-box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
